.react_intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    // margin-top: 20vh;
    padding: 0vh 4vw;
    font-family: "Noto Sans TC", sans-serif;
}

